header {
  background-color: #7E0864;
    
    
  }
  .menu{

position: absolute;
width: 1440px;
height: 46px;
left: 0px;
top: 0px;

background: #7E0864;
  }
  .menu-texto{

    position: absolute;
width: 133px;
height: 19px;
left: 1174px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
  }

  .menu-text{
     position: absolute;
     width: 553px;
     height: 87px;
     left: calc(50% - 553px/2 + 17.5px);
     top: 88px;
        
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 29px;
     text-align: center;
        
     color: #1B1A1A;
        

      }