  .menu{

position: absolute;
width: 1440px;
height: 46px;
left: 0px;
top: 0px;

background: #7E0864;
  }
  .menu-texto{

    position: absolute;
width: 133px;
height: 19px;
left: 1174px;
top: 14px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
  }

  .menu-cabec{
    width: 1440px;
height: 143px;
flex-shrink: 0;

background: linear-gradient(180deg, #78139B 0%, 
rgba(175, 28, 28, 0.00) 100%);

display: flex;
width: 553px;
flex-direction: column;
flex-shrink: 0;
Copy
color: #1B1A1A;
text-align: center;
font-size: 24px;
font-family: Inter;

  }

  .menuitem{
    width: 1440px;
height: 874px;
flex-shrink: 0;
 
color: #EA4EED;
  }

  .menumeio{
    width: 826px;
height: 326px;
flex-shrink: 0;
background: radial-gradient(50% 50.00% at 50% 50.00%, #3949DC 0%, rgba(49, 63, 185, 0.00) 100%);

  }
